<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4de83198-56a9-4ef3-ad21-f390dd4add32/resourceGroups/CA1CSD/providers/Microsoft.Web/sites/BP-Calculator</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bp-calculator.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>5966da6c-819d-4303-adc7-425b8541ec84</ProjectGuid>
    <PublishUrl>https://bp-calculator.scm.azurewebsites.net/</PublishUrl>
    <UserName>$BP-Calculator</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>